# Server Configuration
APP_PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=buku_tamu_app
DB_PASSWORD=ParkirApp2026!@#$
DB_NAME=buku_tamu_db

# Cors Configuration
CORS_ORIGIN=http://localhost:5174,http://127.0.0.1:5174